.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 88px;
}

.cart-container {
  background: rgba(255, 153, 0, 0.3);
}

.pagination {
  margin: 10px 100px;
}

.pagination button {
  padding: 5px;
  margin: 10px 5px;
  cursor: pointer;
}

.selected {
  padding: 10px;
  width: 40px;
  background-color: orange;
  border: 3px solid orangered;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
